<!DOCTYPE HTML>
<html>
<head>
    <title>Quản lý đặt vé - RDBMS</title>
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
    <meta name="keywords"content="Quản lý đặt vé - RDBMS"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Areas/Admin/CSS/bootstrap.min.css"rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Areas/Admin/CSS/style.css"rel='stylesheet' type='text/css' />
    <link href="~/Areas/Admin/CSS/font-awesome.css"rel="stylesheet">
    <script src="~/Areas/Admin/JS/jquery.min.js"> </script>
    <script src="~/Areas/Admin/JS/bootstrap.min.js"> </script>

    <!-- Mainly scripts -->
    <script src="~/Areas/Admin/JS/jquery.metisMenu.js"></script>
    <script src="~/Areas/Admin/JS/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="~/Areas/Admin/CSS/custom.css"rel="stylesheet">
    <script src="~/Areas/Admin/JS/custom.js"></script>
    <script src="~/Areas/Admin/JS/screenfull.js"></script>
    <script src="~/Areas/Admin/JS/screenfull.js"></script>
    <script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
			if (!screenfull.enabled) {
				return false;
			}
			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
		});
    </script>
</head>
<body>
    <div id="wrapper">
        <!----->
        <nav class="navbar-default navbar-static-top"role="navigation">
            <div class="navbar-header">
                <button type="button"class="navbar-toggle"data-toggle="collapse"data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand"href="#">QLDV</a></h1>
            </div>
            <div class="border-bottom">
                <div class="full-left">
                    <section class="full-top">
                        <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
                    </section>
                    <!--<form class= "navbar-left-right">
                        <input type="text"value="Search..."onfocus="this.value='';"onblur= "if (this.value == '') {this.value = 'Search...';}"/>
                        <input type="submit"value=""class="fa fa-search">
                    </form>-->
                    <div class="clearfix"> </div>
                </div>

                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="drop-men">
                    <div class="">

                    </div>
                    <ul class="nav_1">
                        <li class="dropdown">
                            @{if (@Session["taikhoan"].ToString().IsEmpty())
                                {<a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">@Session["taikhoan"].ToString().ToUpper()<i class="caret"></i></span>  </a>}
                                else
                                {<a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">Admin<i class="caret"></i></span>  </a>} }
                            <!--<img src="~/Areas/Admin/images/wo.jpg">-->
                          
                            <ul class="dropdown-menu "role="menu">
                                <li>@Html.ActionLink("Đăng Xuất", "Logout", "DangNhap")</li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="clearfix">

                </div>

                <div class="navbar-default sidebar"role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav"id="side-menu">

                            <li>
                                <a href="~/Admin/NhanViens/Index" class="hvr-bounce-to-right"><i class="fa fa-user-circle-o nav_icon" aria-hidden="true"></i><span class="nav-label">Nhân viên</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/KhachHangs/Index" class="hvr-bounce-to-right"><i class="fa fa-user nav_icon "></i><span class="nav-label">Khách hàng</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/KhuyenMais/Index" class="hvr-bounce-to-right"><i class="fa fa-gg-circle nav_icon "></i><span class="nav-label">Khuyến mãi</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/LoaiVes/Index" class="hvr-bounce-to-right"><i class="fa fa-credit-card nav_icon "></i><span class="nav-label">Loại vé</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/Ves/Index" class="hvr-bounce-to-right"><i class="fa fa-ticket nav_icon "></i><span class="nav-label">Vé</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/Ves/Index" class="hvr-bounce-to-right"><i class="fa fa-circle-o-notch  nav_icon "></i><span class="nav-label">Vé đang đặt</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/Phims/Index" class="hvr-bounce-to-right"><i class="fa fa-film nav_icon "></i><span class="nav-label">Phim</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/TheLoais/Index" class="hvr-bounce-to-right"><i class="fa fa-file-video-o nav_icon "></i><span class="nav-label">Thể loại</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/PhongChieux/Index" class="hvr-bounce-to-right"><i class="fa fa-th nav_icon "></i><span class="nav-label">Phòng chiếu</span> </a>
                            </li>
                            <li>
                                <a href="~/Admin/SuatChieux/Index" class="hvr-bounce-to-right"><i class="fa fa-calendar-check-o nav_icon "></i><span class="nav-label">Suất chiếu</span> </a>
                            </li>
                            
                            @*<li style="visibility:hidden">
                                <a href="#"class="hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span class="nav-label">Menu Levels</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="graphs.html"class="hvr-bounce-to-right"> <i class="fa fa-area-chart nav_icon"></i>Graphs</a></li>

                                    <li><a href="maps.html"class="hvr-bounce-to-right"><i class="fa fa-map-marker nav_icon"></i>Maps</a></li>

                                    <li><a href="typography.html"class="hvr-bounce-to-right"><i class="fa fa-file-text-o nav_icon"></i>Typography</a></li>

                                </ul>
                            </li>*@
                        </ul>
                    </div>
                </div>
               </div>
        </nav>
        <div id="page-wrapper"class="gray-bg dashbard-1">
            <div class="content-main">
                <div class="mainbody">
                    <div class="validation-system">
                        <div class="validation-form">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer copy">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
        <div class="clearfix"> </div>
    </div>

    <!---->
    <!--scrolling js
    <script src="~/Areas/Admin/JS/jquery.nicescroll.js"></script>
    <script src="~/Areas/Admin/JS/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>


